*{
    padding: 0;
    margin: 0;
}

.join_modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border: 1px solid black;
    display: none;
}

.join_modal h3{
    text-align: center;
    line-height: 40px;
}

.join_modal input{
    padding: 5px 0 3px 10px;
    margin: 3px;
    border: 1px solid black;
}

.join_modal .captcha{
    width: 170px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.join_modal img{
    border: 1px solid black;
}